:root {
    --dark-purple: #270b3f;
    --dark-purple-trans: #270b3f53;
    --white-purple: #f6cafa;
    --white-purple-trans: #f2d4f553;
    --github: #ffffff;
    --linkedin: #3557c5;
    --twitter: #0099ff;
    --resume: #f0ef92;
    --email: #89ca79;
    --drop-blur: 3px;
}

html {
    background-color: var(--dark-purple);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white-purple);
    /* text-align: center; */
}

body {
    margin: 0;

    /* temporary */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-shadow: 0px 0px 4px var(--white-purple);
}

video {
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--white-purple);
}

.socials a {
    display: inline;
    text-decoration:none;
    color: var(--white-purple);
    padding-inline: 20px;
}

.socials svg {
    height: 6ch;
    /* filter: drop-shadow(0px 0px 5px var(--white-purple)); */
    transition: all 100ms ease;
}

.socials svg:hover {
    transform: scale(1.2);
}

#github:hover {
    color: var(--github);
    background-color: transparent;
    filter: drop-shadow(0px 0px var(--drop-blur) var(--github));
}

#linkedin:hover {
    color: var(--linkedin);
    filter: drop-shadow(0px 0px var(--drop-blur) var(--linkedin));
}

#twitter:hover {
    color: var(--twitter);
    filter: drop-shadow(0px 0px var(--drop-blur) var(--twitter));
}

#resume:hover {
    color: var(--resume);
    filter: drop-shadow(0px 0px var(--drop-blur) var(--resume));
}

#email:hover {
    color: var(--email);
    filter: drop-shadow(0px 0px var(--drop-blur) var(--email));
}

.navbar {
    /* display: flex; */
    background-color: var(--white-purple-trans);
    padding: 1rem;
    margin-bottom: 20px;
    /* margin-inline: 30vw; */
}

.navbar a {
    cursor: pointer;
    font-size: 15pt;
    padding: 1rem;
    transition: all 200ms ease;
    filter:blur(1px)
    /* padding-inline: 30px; */
    /* background: var(--white-purple-trans); */
}

.navbar a:active {
    filter: blur(0px);
}

.navbar a:target {
    filter: blur(0px);
}

.navbar a:hover {
    background: var(--white-purple-trans);
    border-radius: 10px;
}